.header
  background-color: #3398cc
  color: white
  padding: 20px 0px 28px 22px
  font-weight: lighter
  font-size: 50px
  margin-bottom: 0px
  margin-top: 0px

.nav-bar
  display: flex
  list-style: none
  background-color: #333333
  color: white
  margin-top: 0px
  padding: 0px
  justify-content: space-between
  margin-bottom: 0px
  .nav-item
    display: flex

a
  text-decoration: none
  background-color: #333333
  color: white
  padding: 8px 8px 8px 10px
  font-size: 15px
  margin-right: 7px

a:hover
  text-decoration: none
  color: white

.active
  background-color: #ff9900
  color: black
  .empty-space
    background-color: white
    width: 2px
  a:hover
    color: black

.blog-icon
  padding: 6px 0px 0px 0px
  margin-right: 20px
  margin-bottom: 2px
  margin-top: 2px
