<div>
  <h1 class="header">Fosterate</h1>
</div>
<div class="nav-bar">
  <div class="nav-item" style="margin-left: 13px">
    <span class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <span class="empty-space"></span>
      <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <b>HOME</b>
      </a>
    </span>

    <span class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <span class="empty-space"></span>
      <a routerLink="/add" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <b>+ADD</b>
      </a>
    </span>
  </div>
  <div>
    <img class="blog-icon" src="../../assets//blog-icon.png" alt="blog-icon"  width="22px" height="30px" />
  </div>
</div>
