<h3 *ngIf="contactsinfoService.contacts.length!=0"><b>CONTACTS</b></h3>
<div class="container">
  <div>
  <div class="contacts" *ngFor="let contact of contactsinfoService.contacts;let contactId = index ;">
    <div class="contact" (click) = "DisplayContact(contactId)">
        <div><h4>{{contact.name}}</h4></div>
        <div>{{contact.mobile}}</div>
        <div>{{contact.email}}</div>
    </div>
  </div>
</div>
  <div class="form-div">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label> <b>Name</b> <span class="text-danger">*</span></label>
        <input [class.is-invalid]="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched"
          formControlName="name" type="text" class="form-control" required [(ngModel)]="name"/>
        <small [class.d-none]=" registrationForm.get('name')?.valid || registrationForm.get('name')?.untouched "
          class="text-danger" >Username is required</small>
      </div>

      <div class="form-group">
        <label><b>Email</b> <span class="text-danger">*</span></label>
        <input [class.is-invalid]=" registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched"
          formControlName="email" type="email" class="form-control" required [(ngModel)]="email"/>
        <small [class.d-none]=" registrationForm.get('email')?.valid || registrationForm.get('email')?.untouched" class="text-danger" >
          <div *ngIf="registrationForm.get('email')?.errors?.['required']" >Email is required</div>
          <div *ngIf="registrationForm.get('email')?.errors?.['pattern']" >Invalid Email</div>
        </small>
      </div>

      <div class="row">
        <div class="col">
          <label><b>Mobile</b> <span class="text-danger">*</span></label>
          <input [class.is-invalid]="registrationForm.get('mobile')?.invalid &&  registrationForm.get('mobile')?.touched"
            formControlName="mobile" type="text" class="form-control" required [(ngModel)]="mobile"/>
          <small [class.d-none]="registrationForm.get('mobile')?.valid || registrationForm.get('mobile')?.untouched" class="text-danger">
            <div *ngIf="registrationForm.get('mobile')?.errors?.['required']" >Mobile Number is required</div>
            <div *ngIf="registrationForm.get('mobile')?.errors?.['pattern']" >Invalid Mobile</div>
            <div *ngIf="registrationForm.get('mobile')?.errors?.['minlength'] || registrationForm.get('mobile')?.errors?.['maxlength']">Mobile number must be at least 10 numbers</div>
          </small>
        </div>
        <div class="col">
          <label><b>Landline</b></label>
          <input formControlName="landline" type="text" class="form-control"[(ngModel)]="landline" />
        </div>
      </div>

      <div class="form-group">
        <label><b>Website</b></label>
        <input formControlName="website" type="url" class="form-control" [(ngModel)]="website"/>
      </div>

      <div>
        <label><b>Address</b></label>
        <textarea formControlName="address" class="form-control" [(ngModel)]="address">
        </textarea>
      </div>

      <div>
        <button class="btn bg-success add-button" [disabled]="registrationForm.invalid" type="submit">
          Edit
        </button>
      </div>

    </form>
  </div>
</div>
