<div class="container">
  <div>
    <h5 class="table-header">CONTACTS</h5>
    <div class="table">
      <div class="table-data">
        <div>Harsha Vardhan Pendyala</div>
        <div>7777888855</div>
        <div>harsha@fosterate.com</div>

      </div>
      <div class="table-data selected">
        <div>Network Duke</div>
        <div>7777888855</div>
        <div>duke@fosterate.com</div>
      </div>
      <div class="table-data">
        <div>Arshaque Mohammed</div>
        <div>7777888855</div>
        <div>arshaque@fosterate.com</div>
      </div>
    </div>
  </div>
  <div class="selected-div">
    <h2 class="div-title">Network Duke</h2>
    <div class="div-details">
      <div class="div-header">
        <div>Email:</div>
        <div class="div-text">duke@fosterate.com</div>
      </div>
      <div class="div-header">
        <div>Mobile:</div>
        <div class="div-text">7777888855</div>
      </div>
      <div class="div-header">Landline:</div>
      <div class="div-header">Website:</div>
      <div class="div-header">
        <div>Address:</div>
        <div class="div-values">
          <div>hyderabad,</div>
          <div>Telangana,</div>
          <div>500061</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-flex">
    <img class="action" src="../../assets/Edit-icon.png" alt="edit" width="13px" height="15px"
      style="padding-top: 4px" />
    <div class="action-title">EDIT</div>
    <img class="action" src="../../assets/delete1.png" alt="delete" width="14px"height="22px"
      style="margin-left: 5px; padding-bottom: 4px"/>
    <div class="action-title">DELETE</div>
  </div>
</div>
