.container
    display: flex
    margin-left: 10px

.table
    width: 350px
    font-weight:15px
    font-size: 17px
    border-style: solid
    border-color:#e0e0e0
    border-width:0.1px
    margin-bottom:0px

.table-data
    border-width:1px
    padding-left: 20px
    padding-bottom: 10px
    padding-top: 10px
    cursor: pointer

.selected
    background-color: #cfe7f3

h4
    font-weight: 50
    font-size: 20px
    color: rgb(75, 74, 74)
    font-family: 'Open Sans', sans-serif

.selected-contact
    margin-left: 90px
    display: inline-flex

.Details
    display: flex

pre
    font-size: 15px
    font-family: 'Lato', sans-serif

.actions
    display: inline
    font-size: 15px
    padding-top: 6px

.action-bar
    display: inline
    padding-right: 4px
    margin-left: 5px

