.header{
  background-color:#3398cc;
  color: white;
  padding: 17px 0px 24px 22px;
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav-bar{
  display: flex;
  list-style: none;
  background-color:#333333;
  color: white;
  margin-top: 0px;
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 0px;
}
.nav-items{
  display: flex;
  margin-left: 13px;
}
.blog-icon{
  padding:7px 0px 0px 0px;
  margin-right: 20px;
  margin-bottom: 2px;
}
button{
  background-color: #333333;
  border: none;
  color: white;
  padding:8px 10px 8px 10px;
  font-size: 14px;
  margin-right: 7px;
}
.nav-item{
  display: flex;
}
@mixin white-line1{
  .white-line{
  background-color: white;
  width: 2px;
  }
}
@mixin item-name {
button{
  background-color: #ff9900;
  color:black;
}
}
.nav-item:focus-within{
  @include white-line1();
  @include item-name();
}





