<html>
  <body>

    <div>
      <h1 class="header">Fosterate</h1>
    </div>

    <div class="nav-bar">
      <div class="nav-items">
        <span class="nav-item nav-active ">
          <span class="white-line"></span>
          <button routerLink="/home" routerLinkActive="active"><b>HOME</b></button>
        </span>
        <span class="nav-item">
          <span class="white-line"></span>
          <button routerLink="/add" routerLinkActive="active"><b>+ADD</b></button>
        </span>
      </div>
      <div>
        <img class="blog-icon" src="../../assets/blog-icon.png" alt="blog-icon" width="22px" height="22px" />
      </div>
    </div>
  </body>

</html>
